include         LICENSE
include         README.md
include         MANIFEST.in
include         version.txt
include         requirements.txt
include 	pkg/moira-api.service
include 	pkg/moira-checker.service
include 	pkg/worker.yml
include 	pkg/postinst
