[Unit]
Description=moira-api - REST-API service over http based on twisted python framework

[Service]
ExecStart=/usr/bin/moira-api -c /etc/moira/worker.yml -l /var/log/moira/worker
User=moira
Group=moira
Restart=always

[Install]
WantedBy=multi-user.target
